<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="map-container">
            <div id="select">SELECT MAP</div>
            <div class="map-select-list" id="map-select">
                <% map_list.forEach(function(obj) { %>
                    <div class="option" data-value="<%= obj.map %>"><%= obj.map %></div>
                <% }) %>
            </div>
            <select id="hidden-select" style="display: none;">
                <% map_list.forEach(function(obj) { %>
                    <option value="<%= obj.map %>"><%= obj.map %></option>
                <% }) %>
            </select>
        </div>        
    </header>
    
    <script src="/js/header.js"></script>