<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="map-container">
                <div id="select">SELECT MAP</div>
                <div class="map-select-list" id="map-select">
                    <% map_list.forEach(function(obj) { %>
                        <div class="option" data-value="<%= obj.map %>"><%= obj.map %></div>
                    <% }) %>
                </div>
                <select id="hidden-select" style="display: none;">
                    <% map_list.forEach(function(obj) { %>
                        <option value="<%= obj.map %>"><%= obj.map %></option>
                    <% }) %>
                </select>
            </div>

            <div class="radio-container">
                <label><input type="radio" name="bhop" value="bhop">bhop</label>
                <label><input type="radio" name="xc" value="xc">xc</label>
                <label><input type="radio" name="kz" value="kz">kz</label>
            </div>

            </div>
        </div>        
    </header>
    
    <script src="/js/header.js"></script>