<%- include('../default/header', { title: 'AKB Ranking' }) %>
    <h1>맵 별 1등 기록</h1>
    <ul>
        <% data.forEach(function(obj) { %>
            <li>
                <%= obj.name %> || <%= obj.map %> || <%= obj.time %>
            </li>
        <% }) %>
    </ul>
<%- include('../default/footer') %>
