<%- include('../default/header', { title: 'AKB Ranking' }) %>
    <h1>맵 별 기록</h1>
    <ul>
        <% map.forEach(function(obj) { %>
            <li>
                <%= obj.ranking %> || <%= obj.name %> || <%= obj.strafes %> || <%= obj.sync %> || <%= obj.jumps %> || <%= obj.time %>
            </li>
        <% }) %>
    </ul>
<%- include('../default/footer') %>